<div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 m-4">
  @for (post of posts; track post.id) {
    <app-post-component-list [post]="post" />
  }
</div>
<div class="w-full text-center mb-4">
  <button type="button" class="rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium
      text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4
      focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700
      dark:hover:text-white dark:focus:ring-gray-700"
          (click)="showMore()"
  >
    Show more
  </button>
</div>

